<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define the bean and inject values -->
    <bean id="myBean" class="com.coherentsolutions.spring.school.section34.ex03xml.MyBean">
        <property name="message" value="Hello from XML configuration!" />
        <property name="number" value="123" />
    </bean>
</beans>
